header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0;
    font-weight: 700;
    font-size: 2.5rem;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

input[type="text"], textarea {
    width: 97.5%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

#btnadd {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

#btndel {
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#btnchange {
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}